NODE_ENV                    = development
FRONTEND_URL                = http://localhost:5173
EMAIL_VERIFICATION          = 

# ? FIREBASE
FIREBASE_PROJECT_ID         = 
FIREBASE_CLIENT_EMAIL       = 
FIREBASE_PRIVATE_KEY        = 
FIREBASE_API_KEY            = 

# ? Google
GOOGLE_CLIENT_ID            = 
GOOGLE_CLIENT_SECRET        = 
GOOGLE_REDIRECT_URI         = 

# ? Resend
RESEND_KEY                  = 
RESEND_AUTH_EMAIL           = 
RESEND_NOTIFICATION_EMAIL   = 


# ? Imagekit
IMAGEKIT_PRIVATE_KEY        = 
IMAGEKIT_PUBLIC_KEY         = 
IMAGEKIT_URL_ENDPOINT       = 

# ? Stripe
STRIPE_KEY                  = 

# ? Database (old)
# DB_NAME                   = limpora
# DB_USER                   = root
# DB_HOST                   = mysql
# DB_PASS                   = 123456
# DB_CONNECTION_LIMIT       = 10